.services{
   
    text-align: center;
   

   
  
}
.service{
    float: left;
    width: 25%;
    text-align: center;
   
}
i{
    background-color:gold;
    color:white;
   width: 50px;
   height:fit-content;
}

.clearfix{
    clear: both;
}